.panel_body{
    padding-top: 16px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .panel_heading{
      background-color: #CCC;
      color: #FFF;
      text-align: center;
      font-weight: bold;
      border-radius: 4px; 
      border-bottom: 1px solid transparent;
      border-color: #000;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
  }
  .mainbox{
    margin-left: 25%;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .padding_bottom{
    padding-bottom:5px;
  }
 /*.form-horizontal .control-label {
   text-align: right; 
    
   }*/