.menu_search_line {
    width: 1110px;
    height: 36px;
    float: left;
    margin-bottom: 5px;
    margin-top: 1px;
}
.navbar {
    color: #999999;
    text-decoration: none;
}
.navbar {
    overflow: visible;
    margin-bottom: 18px;
}
ol, ul {
    list-style: none;
}


.menu_choice {
    /*font-size: 14px;
    font-family: "Colfax";*/
    border-left: thin solid #AEAEAE;
    text-align: center;
    padding-right: 6px;
    padding-left: 6px;
    display: inline-block;
}
.menu_choice a {
   /* text-align: center;*/
}
a {
    color: #5c5c5c;
    text-decoration: none;
}
.dropdown-menu li a {
    background-color: transparent;
    display: block;
    padding: 5px;
   /* font-size: 11px;*/
}
.dropdown-menu a {
    text-align: left;
}

.dropdown-menu a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
}
a {
    color: #5c5c5c;
    text-decoration: none;
}

#menulist
{
    font-size: 12px;
    color: blue;
}

.a active
{
    color: #333333;
}
.home_menu_choice {
    padding-left: 0px;
    border-left: none;
}

.sub
{
  display: inline-block;
  
   
}
.dropdown-submenu {
    position: relative;
  
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}