body {
    margin: 30px;
}

.box1
{
	background-image: "images/homepage.jpg";
	padding: 25px;
	border: 1px solid #000;
	color: #ffffff;
	background-color: #a86315;
	
}

.box2
{
	
	padding: 25px;
	border: 1px solid #000;
	color: #ffffff;
	background-color: #b71b10;
	
}

.box3
{
	
	padding: 25px;
	border: 1px solid #000;
	color: #ffffff;
	background-color: #7f7f7f;
	
}

#nav{
	    margin: 50px auto 0 auto;
    width: 1000px;
    background-color: #888;
    height: 15px;
    padding: 20px;
}

#nav ul {
    list-style: none;
    float: left;
}

#nav ul li {
    display: inline;
}

.form-horizontal .control-label
{
	text-align: right;
	/*padding-left:60px;*/
}

.bgimghome
{
	background-image: "images/homepage.jpg";
}

.thumbnail {
    position: relative;

}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
	word-wrap: break-word;
}

.thumb
{
	margin-top:10px;
}

.homepageicons
{
	width: 800px; text-align: center; 
}

.smalldiv
{
	width: 800px;
	text-align: center;
	border: 1px solid red;

}

.glyphicon {
    font-size: 2em;
}

.box-style
{
	background:#ce0002; height:150px; margin-right:15px; width: 200px;     border-radius: 4px;
}

.spacingbwnrows
{
	padding: 10px;
}

.panel-title
{
	color: black;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #000;
  border-right: 0px solid #000;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
.form-group {
     margin-bottom: 1px; 
}

.iconsize{
	    font-size: 20px;
}

  .panel-body {
    padding: 1px 5px;
}
  .row.vertical-divider {
  overflow: hidden;
      margin-top: -10px;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #000;
  border-right: 0px solid #000;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
.form-group {
     margin-bottom: 1px; 
}

.topspace
{
	margin-top: 5px;
}
.navbar {
    min-height: -41px;
    margin-top: -33px;
    /* text-align: center; */
    /* text-align: center; */
}
.panel-heading {
	padding: 0px;
}

.form-control {
   
    width: 76%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.22857143;
    color: #555;
    margin-bottom: 2px;
    /*background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}

@media screen and (max-width: 767px) {
	.box-style
    {
	   width: 20px; width: 150px; 
	} 

	.homepageicons
		{
			width: 400px;
			
			/*border: 1px solid red;*/
			/*width: 50%;*/
    		margin: 10; 
		}

	.navbar-toggle {
      border: 1px solid #5c5c5c;
	}	
}
.numtop
{
  margin-top:-22px;
}