.navbar {
    min-height: 32px;
    text-align: center;
}



.navbar-inverse {
    background-color: #ffffff;
    border-color: #3071a9;
    color: white;
}

.navbar {
    margin-bottom: 0px;
}

@media (min-width: 768px)
{
.navbar {
    border-radius: 4px;

}
}

@media (max-width: 767px)
{
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ce0002;
    background-color: transparent;
}
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-pills > li.active > a {
    background-color: #428bca;
  }
.green_text{
  color: #11a296;
}
.data_table_header{
  background: #5CA597;
  color: white;
  border: 1px solid rgb(202, 199, 199);
}
.index_logo{
    height: 50px;
  width: 200px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}
.navbar-default .navbar-nav>li>a {
  color: #FAFAFA;
}
.navbar-default {
  background-color: #185FA1;
  border-color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #333333;
 
}
.dropdown-menu>li>a {
   color: #333333;
  }
.navbar-brand {
    padding: 5px 15px;
  }
.navbar {
  margin-bottom: 0px;
  }
.navbar-default .navbar-nav>li>a {  
  padding: 6px;
}
.navbar-inverse {
  background-color: #3071a9;
  border-color: #3071a9;
  color: #333333;
}
.navbar-inverse .navbar-nav>li>a { 
  color: #333333;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #0732A1;
  background-color: #F9F4F4;
}
.top_menu_background_color{
     background-color: #ffffff;
    border-color: #ffffff;
}
.journal_logo_padding{
  padding: 20px 0px 10px 0px;
}

.navbar {  

  min-height: 32px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #333333;
  padding-bottom: 6px;
  padding-top: 6px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ce0002;
    background-color: transparent;
}